<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="color:blue;">HomePage</h3>

<ul>
    <li><a href="{% url 'index' %}">index</a></li>
    <li><a href="{% url 'about' %}">about</a></li>
    <li><a href="{% url 'contact' %}">contact</a></li>
    <li><a href="{% url 'faqs' %}">faqs</a></li>
    <li><a href="{% url 'search' %}">search</a></li>
    <li><a href="https://www.eenadu.net/" target="_blank">eenadu</a></li>
    <li><a href="https://www.eenadu.net/" target="_blank">hello</a></li>
    <li><a href="{% url 'students' %}">students</a></li>
</ul>
</body>
</html>