<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="color:blue;">HomePage</h3>

<ul>
    <li><a href="{% url 'index' %}">index</a></li>
      <li><a href=" https://www.youtube.com/watch?v=KLEDKgMmbBI&ab_channel=CoreySchafer">git</a></li>

    <li><a href="{% url 'about' %}">about</a></li>
    <li><a href="{% url 'contact' %}">contact</a></li>
    <li><a href="http://allindiasongslyrics.blogspot.com/2010/12/1993-bava-bavamaridi-telugu-movie.html">lyrics</a></li>
</ul>
</body>
</html>